<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Parallepiped</title>
</head>
<body>
<form action="" method="post">
  <label> Длина </label>
  <input type="text" name="num_1">
  <label> Ширина </label>
  <input type="text" name="num_2">
  <label> Высота </label>
  <input type="text" name="num_3">
  <label> Точность </label>
  <input type="text" name="e">
  <button> Вычислить </button><br><br>
  <label> Ответ: {{res}} </label>

</form>
<h1>{{ans}}</h1>
</body>
</html>